:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  box-sizing: border-box;
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}


.three-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  width: 100vw;
  height: 4000px;
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: gold;
  position: relative;
  pointer-events: none;
}

.qr-wrapper {
  position: absolute;
  top: 1rem;
  left: 1rem;
  /* right: 1rem; */
  background-color: #47464b71;
  padding: 1rem;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white;

  /* display: none; */
}



/* ////////////////////////////////////////////////////
//////////////////MOBILE CONTROLS UI///////////////////
//////////////////////////////////////////////////// */


.controls {
  /* position: absolute;
  top: 1rem;
  left: 1rem; */
  /* right: 1rem; */
  background-color: #47464b71;
  padding: 1rem;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white
}

.controls-chairs {
  display: flex;
  height: min-content;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.controls-chairs>button {
  width: 100%;
  font-size: 1.5rem;
  /* width: min-content; */
}

.slider-container {
  grid-column: 1 / span 2;
  width: 100%;
}

.controls-chairs>p {
  margin: 0.5rem 0rem;
  width: 100%;
  grid-column: 1 / span 2;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 1rem;
}


label {
  display: none;
}


.ui-slider {
  width: 100%;
}



/* ////////////////////////////////////////////////////
///////////////// NAVIGATION /////////////////////////
//////////////////////////////////////////////////// */

nav {
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* Base button */
.nav-button {
  position: relative;
  overflow: hidden;

  width: 6rem;
  height: 40px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-left: 12px;

  background: transparent;
  border: none;

  /* text hidden by default */
  color: transparent;

  transition: color 0.2s ease;
}

/* The expanding bar */
.nav-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.4rem;
  /* collapsed */
  background: #ffffff7c;
  z-index: -1;
  transition: width 0.2s ease;
  backdrop-filter: blur(5px);
}

/* Hover state */
.nav-button:hover::before {
  width: 100%;
}

.nav-button:hover {
  color: #000;
}

.nav-button.nav-active::before {
  width: 100%;
}

.nav-button.nav-active {
  color: #000;
}


/* ////////////////////////////////////////////////////
///////////////// OVERLAY BUTTON //////////////////////
//////////////////////////////////////////////////// */


.overlay-button-container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.overlay-button {
  background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
}