:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 300;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  box-sizing: border-box;
  /* background-color: pink; */
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: pink;
  background: #ff7b00;
  background: linear-gradient(0deg, rgba(255, 123, 0, 1) 30%, rgba(227, 0, 201, 1) 32%, rgb(11, 0, 16) 60%);
}


.three-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  width: 100vw;
  height: 20000px;
  /* background-color: pink; */
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: gold;
  position: relative;
  pointer-events: none;
}

.qr-wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 2rem;

  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  color: rgb(36, 34, 45);
  width: 40rem;
  height: 20rem;
  align-items: center;
  line-height: 1.2rem;


  pointer-events: none;

  border-radius: 0.68rem;
  pointer-events: none;
  border: 2px solid rgba(255, 255, 255, 0.195);

  background: rgba(238, 240, 243, 0.7);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7.5px);
}



.qr-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  border-left: 2px solid rgba(255, 255, 255, 0.639);
  padding: 2rem 0rem;
}

.qr-wrapper h4 {
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.qr-wrapper svg {
  opacity: 0;
  place-self: center;
}

.qr-wrapper-close {
  background-color: transparent;
  /* text-decoration: underline; */
  border: none;
  cursor: pointer;
  pointer-events: all;
  color: blue;
}

.qr-small {
  /* top: 2rem;
  left: 2rem; */
  /* padding: 0.2rem;
  grid-template-columns: 1fr; */
  place-content: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  pointer-events: all;
  cursor: pointer;
}




/* ////////////////////////////////////////////////////
//////////////////MOBILE CONTROLS UI///////////////////
//////////////////////////////////////////////////// */


.controls {
  /* position: absolute;
  top: 1rem;
  left: 1rem; */
  /* right: 1rem; */
  background-color: #47464b71;
  padding: 1rem;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white
}

.controls-chairs {
  display: flex;
  height: min-content;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.controls-chairs>button {
  width: 100%;
  font-size: 1.5rem;
  /* width: min-content; */
}

.slider-container {
  grid-column: 1 / span 2;
  width: 100%;
}

.controls-chairs>p {
  margin: 0.5rem 0rem;
  width: 100%;
  grid-column: 1 / span 2;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 1rem;
}


.controls label {
  display: none;
}


.ui-slider {
  width: 100%;
}



/* ////////////////////////////////////////////////////
///////////////// NAVIGATION /////////////////////////
//////////////////////////////////////////////////// */

nav {
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* Base button */
.nav-button {
  position: relative;
  overflow: hidden;

  width: 6rem;
  height: 40px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-left: 12px;
  border-radius: 0.2rem;
  

  background: transparent;
  border: none;
  color: transparent;

  transition: color 0.2s ease;
}

/* The expanding bar */
.nav-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.4rem;
  /* collapsed */
  background: #ffffff7c;
  z-index: -1;
  transition: width 0.2s ease;
  backdrop-filter: blur(5px);

  border-radius: 0.2rem;
    pointer-events: none;
    outline: 2px inset rgba(255, 255, 255, 0.403);
    outline-offset: -2px;
    /* border: 2px solid rgba(255, 255, 255, 0.195); */
}

/* Hover state */
.nav-button:hover::before {
  width: 100%;
}

.nav-button:hover {
  color: #1d2129;
}

.nav-button.nav-active::before {
  width: 100%;
}

.nav-button.nav-active {
  color: #1d2129;}


/* ////////////////////////////////////////////////////
///////////////// OVERLAY BUTTON //////////////////////
//////////////////////////////////////////////////// */


.overlay-button-container {
  position: fixed;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.overlay-button {
  background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 11px;
  cursor: pointer;
}



.uni-button-container {
  position: fixed;
  left: 21rem;
  top: 1rem;
  z-index: 99;
}


/* ////////////////////////////////////////////////////
///////////////// ACCESSORIES MENU ////////////////////
//////////////////////////////////////////////////// */

#accessory-menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 10px;
  pointer-events: all;
  /* column-gap: 0.5rem; */

  background: rgba(238, 240, 243, 0.7);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7.5px);
}

#accessory-menu>h2 {
  font-family: Poppins;
  color: #2C2827;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;

}

#accessory-menu h3 {
  font-family: Poppins;
  color: #2C2827;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  text-transform: capitalize;
  font-size: 1rem;
}

#accessory-menu span {
  font-family: Poppins;
  color: #6d7383;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  text-transform: capitalize;
}

.accessory-variant-button {
  /* padding: 1rem; */
  border: none;
  width: 7rem;
  height: 4.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;

  border-radius: 5px;
  /* margin-right: 0.2rem; */
  background-color: #ffffffc1;
  cursor: pointer;

  outline: 2px solid rgba(255, 255, 255, 0.45);
  outline-offset: -2px;

  transform: scale(0.95);
  transition: all 0.2s ease-out;
}

.accessory-variant-button:hover {
  transform: scale(1);
  filter: brightness(1.2);
}

.accessory-variant-button img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.accessory-variant-button-none {
  background: #ffffff;
  background: linear-gradient(to top left,
      rgba(255, 255, 255, 0.46) 48%,
      rgba(255, 255, 255, 0.1) 48%,
      rgba(255, 255, 255, 0.1) 52%,
      rgba(255, 255, 255, 0.45) 52%);
  ;
}

#accessory-menu>h3 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  color: rgb(43, 40, 53);
  font-size: 1rem;
}

.color-button {
  box-sizing: border-box;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
  pointer-events: all;
  margin: 0.2rem;
  cursor: pointer;
  box-shadow: 3px 3px 6px 2px rgba(12, 19, 84, 0.1);
  transform: scale(1);

  transition: all 0.1s ease-out;
}

.color-button:hover {
  transform: scale(1.1);
}

.primary-header {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.2rem;

}

.primary-header:first-of-type {
  padding-top: 1rem;
  border-top: 2px solid rgba(255, 255, 255, 0.639);
}

.primary-active {
  /* border: 2px solid white; */
  outline: 4px solid rgba(41, 41, 53, 0.729);
  outline-offset: -4px;
  backdrop-filter: invert(80%);

}


/* .primary-active:before {
  content: '';
  width: 2.1rem;
  height: 2.1rem;
  line-height: 0px;
  border: 0;
  border-radius: 50px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  background: linear-gradient(0deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
  z-index: -1;
} */

.primary-0 {
  background-color: #17181a;
}

.primary-1 {
  background-color: #f7edf4;
}

.primary-2 {
  background-color: #595959;
}

.primary-3 {
  background-color: #64723f;
}

.primary-4 {
  background-color: #BFA48F;
}

.primary-5 {
  background-color: #3f529f;
}


.secondary-0 {
  background-color: #696b6e;
}

.secondary-1 {
  background-color: #d9bfd1;
}

.secondary-2 {
  background-color: #c1c5c7;
}

.secondary-3 {
  background-color: #57b0a7;
}

.secondary-4 {
  background-color: #FF6E5A;
}

.secondary-5 {
  background-color: #576856;
}

/* ////////////////////////////////////////////////////
///////////// HORIZONTAL NAVIGATION //////////////////
//////////////////////////////////////////////////// */

.horizontal-controls-container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 100; */
  /* background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px); */
  border: none;
  padding: 0.2rem;
  border-radius: 100px;
  display: flex;
  gap: 0.2rem;
  align-items: center;

  /* cursor: pointer; */
}

.horizontal-controls {
  cursor: pointer;
  width: 3.5rem;
  height: 2rem;
  /* border-radius: 100px; */
  /* background-color: rgba(255, 255, 255, 0.264); */
  background-color: transparent;
  color: blue;
  border: none;
}

/* .horizontal-controls:hover { */
/* background-color: rgba(255, 255, 255, 0.4); */
/* } */

.horizontal-controls:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.horizontal-controls:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 1 UI //////////////////////
//////////////////////////////////////////////////// */

.ui-container {
  position: fixed;
  /* background-color: rgba(255, 192, 203, 0.444); */
  right: 0rem;
  left: 0rem;
  top: 0rem;
  bottom: 0rem;
  color: #242424;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ui-panel {
  padding: 2rem;
  max-width: 25rem;
  margin: 1rem;
  pointer-events: all;

  border-radius: 0.68rem;
  pointer-events: none;
  border: 2px solid rgba(255, 255, 255, 0.195);

  background: rgba(238, 240, 243, 0.7);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7.5px);
}

.ui-tip {
  border-radius: 0.6875rem;
  background: radial-gradient(204.69% 244.14% at 30.87% -49.17%, rgba(0, 106, 255, 0.67) 0%, rgba(232, 6, 130, 0.67) 100%);
  backdrop-filter: blur(13.399999618530273px);
  color: white;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem;

  position: absolute;
  right: 2%;
  bottom: 3%;
}


.ui-panel h4 {
  font-family: Poppins;
  color: #2C2827;
  font-weight: 600;
  font-size: 2rem;
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.ui-panel p {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2rem;
}

.ui-swaptext {
  /* height: max-content; */
  min-height: 8rem;
}

.ui-panel-footer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: -1rem;
}

.ui-panel-progress {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.ui-panel-progress div {
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.25s ease;
}

.ui-panel-progress div.active {
  background-color: #000;
}

.ui-footer-button {
  border: none;
  pointer-events: all;
  cursor: pointer;
  display: inline-flex;
  padding: 0.625rem 0.9375rem;
  align-items: center;
  gap: 0.3125rem;
  border-radius: 0.6875rem;
  background: #2C2827;
}

.ui-footer-button:hover {
  background: #443d3b;
}

.ui-footer-button-disabled {
  background: #a7aeb8 !important;
}

.ui-footer-button-disabled:hover {
  background: #a7aeb8;
}

/* ////////////////////////////////////////////////////
//////////////////// FLOOR 1 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-1 {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

#ui-panel-2 {
  position: absolute;
  right: 5%;
  top: 10%;
}

#ui-panel-3 {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.physical-component {
  pointer-events: all;
  background-color: transparent;
  border: none;
  position: fixed;
  /* background-color: rgba(93, 11, 25, 0.477); */
  pointer-events: none;
  pointer-events: auto;
}

.physical-component::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: white;
  outline: 2px blue solid;
  outline-offset: 2px;
  pointer-events: none;

}

.physical-component:not(:hover)::before {
  animation: pulse-outline 1.5s cubic-bezier(0, 0.55, 0.45, 1) infinite;
}

@keyframes pulse-outline {
  0% {
    outline-width: 2px;
    outline-offset: 0px;
    outline-color: blue;
  }

  100% {
    outline-width: 15px;
    outline-offset: 15px;
    outline-color: rgba(0, 0, 255, 0);
  }
}


.physical-pedals {
  left: 28%;
  top: 50%;
  width: 6rem;
  height: 7rem;
}

.physical-chair {
  left: 36%;
  top: 54%;
  width: 8rem;
  height: 10rem;
}

.physical-steer {
  left: 53%;
  top: 50%;
  width: 7rem;
  height: 7rem;
}

.physical-camera {
  left: 65%;
  top: 52%;
  width: 7rem;
  height: 7rem;
}

.ui-hoverpanels {
  /* width: 100%;
height: 100%; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#ui-panel-4 {
  position: absolute;
  left: 5%;
  top: 55%;
}

#ui-panel-4-1 {
  position: absolute;
  right: 5%;
  top: 45%;
  border-radius: 10px;
  height: 20rem;
}

#ui-panel-4-2 {
  position: absolute;
  left: 5%;
  top: 10%;
  border-radius: 10px;
  height: 20rem;
}

#ui-panel-4-3 {
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 10px;
  height: 15rem;
}


/* FOR STEERING WHEEL */

#ui-panel-4-4 {
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 10px;
}

#ui-panel-4-5 {
  position: absolute;
  left: 10%;
  top: 15%;
  border-radius: 10px;
  height: 15rem;
}

#ui-panel-4-6 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  border-radius: 10px;
  height: 20rem;
}

#ui-panel-4-7 {
  position: absolute;
  right: 5%;
  top: 40%;
  border-radius: 10px;
  height: 15rem;
}


/* FOR CAMERAS */

#ui-panel-4-8 {
  position: absolute;
  right: 5%;
  top: 65%;
  border-radius: 10px;
}

#ui-panel-4-9 {
  position: absolute;
  left: 10%;
  top: 15%;
  border-radius: 10px;
  height: 20rem;
}

#ui-panel-4-10 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  border-radius: 10px;
  height: 15rem;
}

#ui-panel-4-11 {
  position: absolute;
  right: 2%;
  top: 20%;
  border-radius: 10px;
  height: 15rem;
  rotate: -90deg;
}

/* FOR PEDALS */

#ui-panel-4-12 {
  position: absolute;
  left: 5%;
  top: 65%;
  border-radius: 10px;
  pointer-events: none;
}

#ui-panel-4-13 {
  position: absolute;
  left: 10%;
  top: 15%;
  border-radius: 10px;
  height: 15rem;
  pointer-events: none;
}

#ui-panel-4-14 {
  position: absolute;
  right: 15%;
  bottom: 15%;
  border-radius: 10px;
  height: 15rem;
  pointer-events: none;
}

#ui-panel-4-15 {
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 10px;
  height: 20rem;
  pointer-events: none;
}

#ui-panel-5 {
  position: absolute;
  right: 5%;
  top: 60%;
  pointer-events: none;
}

#ui-panel-6 {
  position: absolute;
  right: 5%;
  top: 20%;
  border-radius: 10px;
  height: 20rem;
}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 2 UI //////////////////////
//////////////////////////////////////////////////// */



#ui-panel-2-1 {
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 10px;

}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 3 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-3-1 {
  position: absolute;
  right: 2%;
  top: 5%;
  border-radius: 10px;

}




/* ////////////////////////////////////////////////////
//////////////////// FLOOR 5 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-5-0,
#ui-panel-5-1,
#ui-panel-5-2 {
  position: absolute;
  right: 2%;
  top: 5%;
  border-radius: 10px;

}

#ui-panel-5-0 .img-wrapper,
#ui-panel-5-1 .img-wrapper,
#ui-panel-5-2 .img-wrapper {
  width: 100%;
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

#ui-panel-5-0 img,
#ui-panel-5-1 img,
#ui-panel-5-2 img {
  max-width: 100%;
  height: 10rem;
}

.client-title {
  text-align: center;
}




/* ////////////////////////////////////////////////////
//////////////////// FLOOR 6 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-6-1 {
  position: absolute;
  right: 2%;
  top: 5%;
}

.ui-panel-dark {
  background-color: black;

  pointer-events: all;

  border-radius: 0.68rem;
  border: 1px solid rgba(64, 71, 83, 0.5);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7.5px);
}

.ui-panel-header {
  padding-bottom: 2rem;
  border-bottom: 2px solid #272727;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.ui-panel-dark h4 {
  font-family: Poppins;
  color: #EEF0F3;
  font-weight: 600;
  font-size: 2rem;
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.ui-panel-dark p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;

  color: #7C7F82;
  font-family: Montserrat;
}

form label {
  color: #E6E8EC;
  margin-bottom: 0.5rem;
}

form input, form textarea {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  border: none;
  background-color: #1f2225;
}

input::placeholder, textarea::placeholder {
    color: #616365;
}

.form-submit-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.6875rem;
  display: inline-flex;
  padding: 0.625rem 0.9375rem;
  align-items: center;
  gap: 0.3125rem;
}
