:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  --primary-blue: #345DFD;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  box-sizing: border-box;
}


canvas {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background: linear-gradient(180deg, rgb(249, 255, 255) 0%, rgb(108, 112, 120) 100%);
}

.logo {
  position: fixed;
  left: 1rem;
  top: 1rem;
  z-index: 999;
  width: 10rem;
}

.logo>img {
  width: 100%;
}


.three-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  width: 100vw;
  height: 20000px;
  /* background-color: pink; */
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: gold;
  position: relative;
  pointer-events: none;
}

.qr-wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 4rem;

  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  color: white;
  width: 45rem;
  height: 20rem;
  align-items: center;
  line-height: 1.2rem;
  z-index: 100;


  pointer-events: none;

  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  background-color: rgba(79, 79, 79, 0.33);
  backdrop-filter: blur(42px);
  color: white;

  clip-path: polygon(0 30px, 30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);

  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0.7) 100%) 1;
}

.qr-left {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: flex-start;
  gap: 2rem;
  margin-right: 3rem;
}

.qr-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  color: white;
  border-left: 2px solid rgba(255, 255, 255, 0.639);
  padding: 2rem 0rem;
}

.qr-wrapper h4 {

  color: white;
  font-weight: 600;
  font-size: 1.6rem;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Sometype Mono", monospace;
  text-transform: uppercase;

  text-align: right;
  line-height: 110%;
}

.qr-wrapper svg {
  opacity: 0;
  place-self: center;
}

.qr-wrapper-close {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: all;
  color: white;
  padding: 0.7rem 1rem;
  background-color: var(--primary-blue);
  --p: 4px;

}

.qr-wrapper-close::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: var(--p);
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  transition: all 0.3s ease;

  --s: 15px;
  border: 1px solid white;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s));
}

.qr-wrapper-close:hover {
  --p: 1px;
}

.qr-small {
  place-content: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
  pointer-events: all;
  cursor: pointer;
  clip-path: none;
  border-radius: 5px;
  background-color: rgba(79, 79, 79, 0.33);

  transition: background-color 0.15s ease-out;
}

.qr-small:hover {
  background-color: rgba(149, 149, 149, 0.33);
}



/* ////////////////////////////////////////////////////
//////////////////////MOBILE WARNING//////////////////
//////////////////////////////////////////////////// */

.mobile-warning {
  position: fixed;
  inset: 0;
  background: #0E0F14;
  z-index: 9999;
  display: flex;
  /* place-content: center; */
  color: white;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.mobile-warning img {
  max-width: 10rem;
}

.mobile-warning>div {
  position: absolute;
  top: 0rem;
  background-color: pink;
  padding: 1rem;
  width: 100%;

  background:
    linear-gradient(#0E0F14, #0E0F14) padding-box,
    linear-gradient(60deg, #345DFD, #EB148B 100%) border-box;

  border-bottom: 3px solid transparent;
}

@media (min-width: 1024px) {
  .mobile-warning {
    display: none;
  }
}

/* ////////////////////////////////////////////////////
/////////////////////////INTRO////////////////////////
//////////////////////////////////////////////////// */

.intro-container {
  position: fixed;
  inset: 0;
  background: white;
  z-index: 9998;
}

.intro-container>video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
}

.intro-container>button {
  position: absolute;
  left: 50%;
  bottom: 5rem;
}


/* ////////////////////////////////////////////////////
//////////////////MOBILE CONTROLS UI///////////////////
//////////////////////////////////////////////////// */


.controls {
  background-color: rgb(14, 15, 20);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  height: 100%;
  width: 100%;
}

.controls-chairs {
  display: flex;
  flex-direction: column;
  width: 30rem;
  position: relative;
}

.seat-sides-container {
  background-color: #222329;
  width: fit-content;
  display: flex;
  gap: 1rem;
  border-radius: 100px;
  place-self: center;
}



.seat-forth-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  scale: -100% 100%;
}

.seat-forth-container button {
  height: 100%;
  padding: 0;
}

.seat-forth-container img {
  width: 100%;
  width: auto;
  max-height: 10rem;
  flex-shrink: 1;
}

.seat-forth-container>button {
  border: none;
  background-color: transparent;
}

.seat-sides-container>button {
  background-color: transparent;
  color: white;
  font-size: 1rem;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  position: relative;
}

.seat-sides-container>.side-active {
  position: relative;
  border-radius: 100px;
  background:
    linear-gradient(#222329, #222329) padding-box,
    linear-gradient(60deg, #345DFD, #EB148B 100%) border-box;

  border: 3px solid transparent;
}


.side-active::before {
  content: "";
  position: absolute;
  padding: 6px;
  background-color: pink;
  z-index: -1;
}

.controls-chairs>button {
  width: 100%;
  font-size: 1.5rem;
}


.dashboard-group>img {
  padding-top: 1.5rem;
}

.slider-container {
  grid-column: 1 / span 2;
  width: 80%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  gap: 0.5rem;
  align-items: center;
  place-self: center;
}

.slider-container>button {
  background-color: #222329;
  border: none;
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  color: white;
  font-size: 1.2rem;
}

.controls-chairs>p {
  margin: 0;
  width: 100%;
  grid-column: 1 / span 2;
  text-align: center;
  font-weight: 800;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}


.controls label {
  display: none;
}


.ui-slider {
  width: 100%;
  background: transparent;
}


#rotate-warning {
  position: fixed;
  inset: 0;
  background: rgb(18, 19, 25);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: 9999;
}

#rotate-warning>p {
  padding: 0rem 2rem;
  text-align: center;
}

.hidden {
  display: none;
}

#body-m {
  height: 100dvh;
}



.mobile-start {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: rgb(128, 137, 159);
  gap: 0.5rem;
}

.mobile-start>h3 {
  margin: 0;
  padding: 0;
}

.mobile-instructions {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 35rem;
  text-align: center;
  justify-content: bottom;
  align-items: baseline;
}

.mobile-instructions>div {
  padding: 0rem 2rem;
  color: rgb(128, 137, 159);
}

.mobile-instructions>div:first-child {
  border-right: 1px solid rgb(62, 72, 85);
}


.mobile-instructions img {
  width: 80%;
  max-height: 3rem;
  width: auto;
}

.mobile-start>button {
  background-color: transparent;
  /* border: none; */
  padding: 0.5rem 2rem;
}

.mobile-start>button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: all;
  color: white;
  --p: 4px;
  margin-top: 1rem;
}

.mobile-start>button::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: var(--p);
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  transition: all 0.3s ease;

  --s: 15px;
  border: 2px solid var(--primary-blue);
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s));
}


.controls-container {
  background-color: #121319;
  width: 100dvw;
  height: 100%;
  z-index: 9;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr;

}

.mobile-header {
  /* background-color: pink; */
  height: 1.5rem;
  padding: 1rem;
  /* display: grid; */
  display: flex;
  place-content: center;

  position: relative;
  background:
    linear-gradient(#121319, #121319) padding-box,
    linear-gradient(60deg, #345DFD, #EB148B 100%) border-box;

  border-bottom: 3px solid transparent;
}

.mobile-header>img {
  height: 100%;
}

.mobile-body {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 6fr;
}

.controls-menu {
  width: fit-content;
  height: 3rem;
  padding-top: 0.5rem;
  width: 100%;
}

.controls-menu ul {
  list-style: none;
  /* background-color: green; */
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.controls-menu li {
  width: 100%;
  display: flex;
  justify-content: center;
  /* align-self: center; */
}

.controls-menu button {
  background-color: transparent;
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  padding: 0.5rem;
  padding-bottom: 0.8rem;
  color: white;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  margin: 0rem 1rem;
  box-sizing: border-box;
}


.controls-menu .button-active {
  background: -webkit-linear-gradient(60deg, #345DFD,
      #EB148B);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ff57d8;
}

.controls-menu .button-locked {
  color: #474e59;
}





.feature-unavailable {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100%;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.feature-unavailable>img {
  /* height: 20%; */
  width: 13rem;

}

.feature-unavailable>h4 {
  margin: 0;
  margin-top: 1rem;
  font-size: 1.2rem;
}

.feature-unavailable>p {
  margin: 0;
  color: rgb(158, 165, 179);
}

/* ////////////////////////////////////////////////////
///////////////// NAVIGATION /////////////////////////
//////////////////////////////////////////////////// */

nav {
  position: fixed;
  top: 50%;
  left: 0.5rem;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* Base button */
.nav-button {
  position: relative;
  overflow: hidden;

  width: 8.5rem;
  height: 40px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-left: 1.5rem;

  background-color: rgba(255, 255, 255, 0.188);
  backdrop-filter: blur(4px);
  border: none;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 20px), calc(100% - 20px) 100%, 0 100%);

  transition: color 0.2s ease;
}

.nav-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0rem;
  background: var(--primary-blue);
  z-index: -1;
  transition: width 0.2s ease;
}

/* Hover state */
.nav-button:hover::before {
  width: 100%;
}

.nav-button.nav-active::before {
  width: 1rem;
}

.nav-button.nav-active:hover::before {
  width: 100%;
}




/* //////////////////////////////////////////////////
///////////////// INSTRUCTIONS //////////////////////
//////////////////////////////////////////////////// */

.instruction-wrapper {
  position: fixed;
  z-index: 999;
  inset: 0;
  /* background-color: pink; */
  background-color: rgba(33, 36, 41, 0.68);
  backdrop-filter: blur(12px);
  display: grid;
  place-content: center;
}

.instruction-container {
  display: flex;
  flex-direction: column;
  /* gap: 2rem; */
  max-width: 35rem;
  align-items: center;
}

.instruction-container>h2 {
  font-size: 1.8rem;
  text-align: center;
}

.instruction-body {
  display: flex;
  align-items: flex-end;
}

.instruction-body>div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1rem;
  padding: 1rem 2rem;
  margin: 1rem 0rem;
  color: rgb(203, 203, 203);
  text-align: center;
}

.instruction-body>div:first-child {
  border-right: 1px solid rgb(147, 147, 147);
}

.instruction-body>div:first-child>svg {
  padding-bottom: 1rem;
}

.instructions-button {
  position: fixed;
  left: 1rem;
  bottom: 1rem;
  z-index: 50;
  background-color: rgba(132, 132, 132, 0.33);
  backdrop-filter: blur(42px);
  color: white;
  border: none;
  width: 3rem;
  height: 3rem;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 0.3s ease-out;
  border-radius: 2px;
}

.instructions-button:hover {
  background-color: rgba(203, 203, 203, 0.33);
}

.btn-wrap>button {
  width: fit-content;
  padding: 0.8rem 1.2rem;
  background-color: transparent;
  cursor: pointer;
  --s: 10px;
  border: 2px solid #0059ff;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s));
}

.btn-wrap {
  margin-top: 3rem;
  position: relative;
  display: inline-block;
  overflow: hidden;
  border-radius: inherit;
  cursor: pointer;
}

.btn-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: #0059ff;
  transition: width 0.45s cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 0;
}

.btn-wrap:hover::before {
  width: 100%;
}

/* ////////////////////////////////////////////////////
///////////////// OVERLAY BUTTON //////////////////////
//////////////////////////////////////////////////// */


.overlay-button-container {
  position: fixed;
  bottom: 8rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.overlay-button {
  background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px);
  border: none;
  /* padding: 0.8rem 1.5rem; */
  /* border-radius: 11px; */
  padding: 0;
  cursor: pointer;
  outline: 0px var(--primary-blue) solid;
  color: rgb(8, 8, 169);
  outline-offset: 2px;
  height: 45px;

  display: flex;
  align-items: center;

  transition: all 0.2s ease-in-out;
}

.overlay-button::before {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  height: 100%;
  z-index: -1;
  background-color: var(--primary-blue);
  transition: all 0.2s ease-in-out;
}

.overlay-button:hover::before {
  width: 100%;

}

.overlay-button>span:not(:last-child) {
  height: 100%;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-button>span:last-child {
  background-color: var(--primary-blue);
  padding: 0rem 2rem;
  height: 100%;
  font-weight: 800;
  display: grid;
  place-content: center;
  color: white;
}

.overlay-button:hover {
  color: white;
}


.pulsing:not(:hover) {
  animation: pulse-outline 3s cubic-bezier(0, 0.55, 0.45, 1) infinite;
}



.uni-button-container {
  position: fixed;
  left: 21rem;
  top: 1rem;
  z-index: 99;
  display: none;
}




.overlay-button {
  display: flex;
  align-items: center;
  gap: 8px;
  border: none;
  cursor: pointer;
}

.toggle-text {
  position: relative;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
}

.toggle-text span {
  position: absolute;
  left: 50%;
  translate: -50%;
  transition: transform 0.3s ease;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.toggle-text .on {
  transform: translateY(-100%);
  height: 100%;
}

.toggle-text .off {
  transform: translateY(0);
  height: 100%;
}

.overlay-button.activeOverlay .on {
  transform: translateY(0);
}

.overlay-button.activeOverlay .off {
  transform: translateY(100%);
}


/* ////////////////////////////////////////////////////
///////////////// ACCESSORIES MENU ////////////////////
//////////////////////////////////////////////////// */

#accessory-menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px);
  padding: 2rem;
  pointer-events: all;
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);

  background-color: rgba(79, 79, 79, 0.33);
  backdrop-filter: blur(42px);
  color: white;
}

#accessory-menu>h2 {
  color: white;
  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Sometype Mono", monospace;
  text-transform: uppercase;
  text-align: right;
}

#accessory-menu h3 {

  font-family: Montserrat;

  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  text-transform: capitalize;
  font-size: 1rem;
}

#accessory-menu span {
  font-family: Poppins;
  color: white;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: left;
  text-transform: capitalize;
}

.accessory-variant-button {
  /* padding: 1rem; */
  border: none;
  width: 7rem;
  height: 4.5rem;
  overflow: hidden;
  margin: 0;
  padding: 0;

  border-radius: 3px;
  background-color: hsla(0, 0%, 100%, 0.091);
  cursor: pointer;
  outline-offset: -2px;

  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0.7) 100%) 1;

  transform: scale(0.95);
  transition: all 0.2s ease-out;
}

.accessory-variant-button:hover {
  transform: scale(1);
  filter: brightness(1.2);
}

.accessory-variant-button img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.accessory-variant-button-none {
  position: relative;
  background-color: rgba(255, 255, 255, 0.07);
  margin-bottom: -1px;
}

.accessory-variant-button-none::before {
  content: "";
  display: inline-block;
  position: absolute;
  box-sizing: border-box;
  border: 5px solid transparent;
  padding: 1rem;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: url("../public/img/slash.svg") no-repeat center/contain;
}

#accessory-menu>h3 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  color: white;
  font-size: 1rem;
}

.color-button {
  box-sizing: border-box;
  border: none;
  width: 2rem;
  height: 2rem;
  border-radius: 100px;
  pointer-events: all;
  margin: 0.2rem;
  cursor: pointer;
  box-shadow: 3px 3px 6px 2px rgba(12, 19, 84, 0.1);
  transform: scale(1);

  transition: all 0.1s ease-out;
}

.color-button:hover {
  transform: scale(1.1);
}

.primary-header {
  display: flex;
  gap: 0.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  align-items: baseline;
}

.primary-header:first-of-type {
  padding-top: 1rem;
  /* border-top: 2px solid rgba(255, 255, 255, 0.639); */
}

.primary-active {
  /* border: 2px solid white; */
  outline: 2px solid rgba(41, 41, 53, 0.729);
  outline: 2px solid white;
  outline-offset: -2px;
  backdrop-filter: invert(80%);

}

.primary-selected,
.secondary-selected {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 1.2rem !important;
  text-align: left;
  text-transform: capitalize;
  font-size: 1rem !important;
}


.primary-0 {
  background-color: #17181a;
}

.primary-1 {
  background-color: #f7edf4;
}

.primary-2 {
  background-color: #595959;
}

.primary-3 {
  background-color: #64723f;
}

.primary-4 {
  background-color: #BFA48F;
}

.primary-5 {
  background-color: #3f529f;
}

.primary-6 {
  background-color: #660407;
}

.primary-7 {
  background-color: #004d24;
}


.secondary-0 {
  background-color: #696b6e;
}

.secondary-1 {
  background-color: #d9bfd1;
}

.secondary-2 {
  background-color: #c1c5c7;
}

.secondary-3 {
  background-color: #57b0a7;
}

.secondary-4 {
  background-color: #FF6E5A;
}

.secondary-5 {
  background-color: #576856;
}

.secondary-6 {
  background-color: #99280c;
}

/* ////////////////////////////////////////////////////
///////////// HORIZONTAL NAVIGATION //////////////////
//////////////////////////////////////////////////// */

.horizontal-controls-container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  border: none;
  padding: 0.2rem;
  border-radius: 100px;
  display: flex;
  gap: 4rem;
  align-items: center;
}

.horizontal-controls {
  cursor: pointer;
  width: fit-content;
  max-height: 31px;
  height: fit-content;
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: rgb(8, 8, 169);
  border: none;

  display: flex;
  align-items: center;
  gap: 0.5rem;

  background-color: rgba(255, 255, 255, 0.472);
  backdrop-filter: blur(3.6px);
}

.horizontal-controls-left,
.horizontal-controls-right {
  position: relative;
  overflow: hidden;
  transition: color 0.3s ease;
}

.horizontal-controls-left:hover,
.horizontal-controls-right:hover {
  color: white;
}

.horizontal-controls-left::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: var(--primary-blue);
  transition: width 0.3s ease;
  z-index: -1;
}

.horizontal-controls-right::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 0;
  background: var(--primary-blue);
  transition: width 0.3s ease;
  z-index: -1;
}

.horizontal-controls-left:hover::before,
.horizontal-controls-right:hover::before {
  width: 100%;
}

.horizontal-controls span {
  width: fit-content;

}

.h-controls-arrow {
  background-color: var(--primary-blue);
  color: white;
  /* width: 3rem; */
  height: 31px;
  padding: 0rem 1rem;
  display: grid;
  place-content: center;
}

.h-controls-text {
  padding: 0.5rem;
}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 1 UI //////////////////////
//////////////////////////////////////////////////// */

.ui-container {
  position: fixed;
  /* background-color: rgba(255, 192, 203, 0.444); */
  right: 0rem;
  left: 0rem;
  top: 0rem;
  bottom: 0rem;
  color: #242424;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ui-panel {
  padding: 2rem;
  max-width: 25rem;
  margin: 1rem;
  pointer-events: all;

  /* border-radius: 0.68rem; */
  pointer-events: none;
  /* border: 2px solid rgba(255, 255, 255, 0.195); */

  background: rgba(238, 240, 243, 0.7);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(7.5px);


  background-color: rgba(79, 79, 79, 0.33);
  backdrop-filter: blur(42px);
  color: white;

  clip-path: polygon(0 30px, 30px 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);

  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0.7) 100%) 1;
}

.ui-tip {

  /* border-radius: 0.6875rem; */
  border-radius: 0rem;
  border-radius: 2px;
  border: none;
  /* background: radial-gradient(204.69% 244.14% at 30.87% -49.17%, rgba(0, 106, 255, 0.67) 0%, rgba(232, 6, 130, 0.67) 100%); */
  background: linear-gradient(100deg, #345DFD -6.56%, #931E73 142.42%);
  backdrop-filter: blur(13px);
  color: white;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 2rem;
  align-items: center;
  padding: 1rem;
  max-width: 25rem;
  margin: 1rem;

  position: absolute;
  right: 0%;
  bottom: 0%;

  font-weight: 400;
  color: rgba(255, 255, 255, 0.808);
  overflow: hidden;
}

.ui-tip svg {
  position: relative;
  scale: 3;
  bottom: -1.5rem;
  left: -0.6rem;
  /* rotate: 10deg; */
}


.ui-panel h4 {
  font-family: Poppins;
  font-family: "Poppins", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 2rem;
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 1rem;
  /* margin-top: 2rem; */
  padding-bottom: 1rem;
  border-bottom: 1px solid white;

  font-size: 3rem;
  font-style: normal;
  font-weight: 400;
  font-family: "Sometype Mono", monospace;
  text-transform: uppercase;

  text-align: right;
}

.ui-panel p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 140%;
}

.ui-swaptext {
  /* height: max-content; */
  min-height: 8rem;
}

.ui-panel-footer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: -1rem;
}

.ui-panel-progress {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.ui-panel-progress div {
  width: 8px;
  height: 8px;
  border: 1px solid #000;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.25s ease;
}

.ui-panel-progress div.active {
  background-color: #000;
}

.ui-footer-button {
  border: none;
  pointer-events: all;
  cursor: pointer;
  display: inline-flex;
  padding: 0.625rem 0.9375rem;
  align-items: center;
  gap: 0.3125rem;
  border-radius: 0.6875rem;
  background: #2C2827;
  color: white;
}

.ui-footer-button:hover {
  background: #443d3b;
}

.ui-footer-button-disabled {
  background: #a7aeb8 !important;
}

.ui-footer-button-disabled:hover {
  background: #a7aeb8;
}

/* ////////////////////////////////////////////////////
//////////////////// FLOOR 1 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-1 {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

#ui-panel-2 {
  position: absolute;
  right: 5%;
  top: 10%;
}

#ui-panel-3 {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.physical-component {
  pointer-events: all;
  background-color: transparent;
  border: none;
  position: fixed;
  /* background-color: rgba(93, 11, 25, 0.477); */
  pointer-events: none;
  pointer-events: auto;
}

.physical-component::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12px;
  height: 12px;
  background: white;
  outline: 2px blue solid;
  outline-offset: 2px;
  pointer-events: none;

}

.physical-component:not(:hover)::before {
  animation: pulse-outline 3s cubic-bezier(0, 0.55, 0.45, 1) infinite;
}

@keyframes pulse-outline {
  50% {
    outline-width: 0px;
    outline-offset: 0px;
    outline-color: var(--primary-blue);
  }

  100% {
    outline-width: 15px;
    outline-offset: 15px;
    outline-color: rgba(0, 0, 255, 0);
  }
}


.physical-pedals {
  left: 28%;
  top: 50%;
  width: 6rem;
  height: 7rem;
}

.physical-chair {
  left: 36%;
  top: 54%;
  width: 8rem;
  height: 10rem;
}

.physical-steer {
  left: 53%;
  top: 50%;
  width: 7rem;
  height: 7rem;
}

.physical-camera {
  left: 65%;
  top: 52%;
  width: 7rem;
  height: 7rem;
}

.ui-hoverpanels {
  /* width: 100%;
height: 100%; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* pointer-events: all; */
}

.ui-hoverpanels>img {
  border-radius: 0rem;
  clip-path: polygon(0 0, calc(100% - 30px) 0, 100% 30px, 100% 100%, 30px 100%, 0 calc(100% - 30px));
}

#ui-panel-4 {
  position: absolute;
  left: 5%;
  top: 55%;
}

#ui-panel-4-1 {
  position: absolute;
  right: 5%;
  top: 45%;
  height: 20rem;
}

#ui-panel-4-2 {
  position: absolute;
  left: 5%;
  top: 10%;
  height: 20rem;
}

#ui-panel-4-3 {
  position: absolute;
  right: 5%;
  top: 10%;
  height: 15rem;
}


/* FOR STEERING WHEEL */

#ui-panel-4-4 {
  position: absolute;
  right: 5%;
  top: 10%;
}

#ui-panel-4-5 {
  position: absolute;
  left: 10%;
  top: 15%;
  height: 15rem;
}

#ui-panel-4-6 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  height: 20rem;
}

#ui-panel-4-7 {
  position: absolute;
  right: 5%;
  top: 40%;
  height: 15rem;
}


/* FOR CAMERAS */

#ui-panel-4-8 {
  position: absolute;
  right: 5%;
  top: 65%;
}

#ui-panel-4-9 {
  position: absolute;
  left: 10%;
  top: 15%;
  height: 20rem;
}

#ui-panel-4-10 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  height: 15rem;
}

#ui-panel-4-11 {
  position: absolute;
  right: 2%;
  top: 20%;
  height: 15rem;
  rotate: -90deg;
}

/* FOR PEDALS */

#ui-panel-4-12 {
  position: absolute;
  left: 5%;
  top: 65%;
  pointer-events: none;
}

#ui-panel-4-13 {
  position: absolute;
  left: 10%;
  top: 15%;
  height: 15rem;
  pointer-events: none;
}

#ui-panel-4-14 {
  position: absolute;
  right: 15%;
  bottom: 15%;
  height: 15rem;
  pointer-events: none;
}

#ui-panel-4-15 {
  position: absolute;
  right: 5%;
  top: 10%;
  height: 20rem;
  pointer-events: none;
}

#ui-panel-5 {
  position: absolute;
  right: 5%;
  top: 10%;
  pointer-events: none;
}

#ui-panel-6 {
  position: absolute;
  right: 5%;
  top: 20%;
  height: 20rem;
}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 2 UI //////////////////////
//////////////////////////////////////////////////// */



#ui-panel-2-1 {
  position: absolute;
  right: 5%;
  top: 10%;
  /* border-radius: 10px; */

}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 3 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-3-1,
#ui-panel-3-2 {
  position: absolute;
  right: 2%;
  top: 5%;
  /* border-radius: 10px; */

}



/* ////////////////////////////////////////////////////
//////////////////// FLOOR 4 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-44-1 {
  position: absolute;
  right: 2%;
  top: 2%;
  /* border-radius: 10px; */

}

.task-header>div {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: 1px solid white;
  margin-bottom: 1rem;
}

.ui-task-title {
  border: none !important;
  padding: 0 !important;
}

.ui-task {
  padding: 1rem 1rem;
  padding-left: 3rem;
  margin: 0.5rem 1rem;
  background-color: #4f4f4f54;
  backdrop-filter: blur(42px);
  color: white;
  clip-path: none;

  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.7) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0.7) 100%) 1;
}

.ui-task-open {
  position: relative;
  color: white;
  background-color: var(--primary-blue);
}

.ui-task-open::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0.75rem;
  top: 0.75rem;
  color: white;
  background: url("../public/img/icon-message.svg") no-repeat center/contain;
}

.ui-task-complete {
  /* background-color: #34C022; */
  text-decoration: line-through;
  position: relative;
  color: white;
}

.ui-task-complete::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: 0.75rem;
  top: 0.75rem;
  background: url("../public/img/icon-check.svg") no-repeat center/contain;
}

#tasks-init {
  pointer-events: all;
}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 5 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-5-0,
#ui-panel-5-1,
#ui-panel-5-2 {
  position: absolute;
  right: 2%;
  top: 5%;
  /* border-radius: 10px; */

}

#ui-panel-5-0 .img-wrapper,
#ui-panel-5-1 .img-wrapper,
#ui-panel-5-2 .img-wrapper {
  width: 100%;
  display: grid;
  place-content: center;
  margin-bottom: 1rem;
}

#ui-panel-5-0 img,
#ui-panel-5-1 img,
#ui-panel-5-2 img {
  max-width: 100%;
  height: auto;
  max-height: 10rem;
}

.client-title {
  text-align: center !important;
}

.client-quote {
  font-size: 1.5rem !important;
  line-height: 110% !important;
  min-height: 8rem;
  font-style: italic;
}

.client-credits {
  color: white;
  padding-top: 1rem;
}

.client-img img {
  filter: brightness(20);
}

#ui-panel-5-0 img {
  margin-top: 2rem;
}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 6 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-6-1 {
  position: absolute;
  right: 2%;
  top: 5%;
}

#ui-panel-6-2 {
  position: absolute;
  right: 2%;
  top: 5%;
}

#ui-panel-6-2>p {
  margin-top: 3rem;
}

.ui-panel-dark {
  background-color: rgba(1, 0, 12, 0.868);

  pointer-events: all;

  border: 1px solid rgba(64, 71, 83, 0.5);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(70px);

  border-width: 1px;
  border-style: solid;
  border-image: linear-gradient(to bottom left, rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0) 40%,
      rgba(255, 255, 255, 0) 60%,
      rgba(255, 255, 255, 0.5) 100%) 1;
}

.ui-panel-header {
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  padding-top: 2rem;
}

.ui-panel-dark h4 {
  color: #EEF0F3;
}

.ui-panel-dark p {
  margin-top: 1rem;

  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;

  color: #c5cad0;
  font-family: Montserrat;
}

.ui-panel-dark>button {
  margin-top: 1.5rem;
}

form label {
  color: #E6E8EC;
  margin-bottom: 0.5rem;
}

form input,
form textarea {
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  padding: 0.5rem 0.8rem;
  border-radius: 6px;
  border: none;
  background-color: #252a2f;
}

input::placeholder,
textarea::placeholder {
  color: #7d8287;
}

/* .form-submit-button {
  background-color: white;
  color: black;
  border: none;
  border-radius: 0.6875rem;
  display: inline-flex;
  padding: 0.625rem 0.9375rem;
  align-items: center;
  gap: 0.3125rem;
} */


.form-submit-button {
  position: relative;
  background-color: transparent;
  border: none;
  cursor: pointer;
  pointer-events: all;
  color: white;
  padding: 0.7rem 1rem;
  background-color: var(--primary-blue);
  --p: 4px;
  border-radius: 0;
}

.form-submit-button::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: var(--p);
  z-index: -1;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;

  transition: all 0.3s ease;

  --s: 15px;
  border: 1px solid white;
  mask:
    conic-gradient(#000 0 0) content-box,
    conic-gradient(at var(--s) var(--s), #0000 75%, #000 0) 0 0/calc(100% - var(--s)) calc(100% - var(--s));
}

.form-submit-button:hover {
  --p: 1px;
}