:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html,
body {
  margin: 0;
  height: 100%;
  overflow-x: hidden;
  background: #000;
  box-sizing: border-box;
  /* background-color: pink; */
}

canvas {
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: pink;
  background: #ff7b00;
  background: linear-gradient(0deg, rgba(255, 123, 0, 1) 30%, rgba(227, 0, 201, 1) 32%, rgb(11, 0, 16) 60%);
}


.three-section {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #000;
  width: 100vw;
  height: 20000px;
  /* background-color: pink; */
}

.canvas-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: gold;
  position: relative;
  pointer-events: none;
}

.qr-wrapper {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: #47464b71;
  padding: 2rem;
  border-radius: 5px;

  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  color: rgb(36, 34, 45);
  width: 40rem;
  height: 20rem;
  align-items: center;


  border-radius: 0.6875rem;
  background: linear-gradient(335deg, rgba(52, 146, 253, 0.35) 11.04%, rgba(255, 255, 255, 0.35) 58.32%);
  backdrop-filter: blur(7px);
  border: 2px solid rgba(255, 255, 255, 0.195);

}



.qr-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.qr-wrapper h4 {
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.qr-wrapper svg {
 opacity: 0;
 place-self: center;
}

.qr-wrapper-close{
  background-color: transparent;
  text-decoration: underline;
  border: none;
  cursor: pointer;

}

.qr-small {
  /* top: 2rem;
  left: 2rem; */
  /* padding: 0.2rem;
  grid-template-columns: 1fr; */
  place-content: center;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr;
}




/* ////////////////////////////////////////////////////
//////////////////MOBILE CONTROLS UI///////////////////
//////////////////////////////////////////////////// */


.controls {
  /* position: absolute;
  top: 1rem;
  left: 1rem; */
  /* right: 1rem; */
  background-color: #47464b71;
  padding: 1rem;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: white
}

.controls-chairs {
  display: flex;
  height: min-content;
  gap: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.controls-chairs>button {
  width: 100%;
  font-size: 1.5rem;
  /* width: min-content; */
}

.slider-container {
  grid-column: 1 / span 2;
  width: 100%;
}

.controls-chairs>p {
  margin: 0.5rem 0rem;
  width: 100%;
  grid-column: 1 / span 2;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
  margin-top: 1rem;
}


label {
  display: none;
}


.ui-slider {
  width: 100%;
}



/* ////////////////////////////////////////////////////
///////////////// NAVIGATION /////////////////////////
//////////////////////////////////////////////////// */

nav {
  position: fixed;
  top: 50%;
  left: 1rem;
  transform: translateY(-50%);
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

/* Base button */
.nav-button {
  position: relative;
  overflow: hidden;

  width: 6rem;
  height: 40px;
  cursor: pointer;

  font-size: 16px;
  font-weight: 600;
  text-align: left;
  padding-left: 12px;

  background: transparent;
  border: none;

  /* text hidden by default */
  color: transparent;

  transition: color 0.2s ease;
}

/* The expanding bar */
.nav-button::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 0.4rem;
  /* collapsed */
  background: #ffffff7c;
  z-index: -1;
  transition: width 0.2s ease;
  backdrop-filter: blur(5px);
}

/* Hover state */
.nav-button:hover::before {
  width: 100%;
}

.nav-button:hover {
  color: #000;
}

.nav-button.nav-active::before {
  width: 100%;
}

.nav-button.nav-active {
  color: #000;
}


/* ////////////////////////////////////////////////////
///////////////// OVERLAY BUTTON //////////////////////
//////////////////////////////////////////////////// */


.overlay-button-container {
  position: fixed;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
}

.overlay-button {
  background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px);
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 100px;
  cursor: pointer;
}



.uni-button-container {
  position: fixed;
  left: 21rem;
  top: 1rem;
  z-index: 99;
}


/* ////////////////////////////////////////////////////
///////////////// ACCESSORIES MENU ////////////////////
//////////////////////////////////////////////////// */

#accessory-menu {
  position: fixed;
  top: 2rem;
  right: 2rem;
  background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px);
  padding: 1rem;
  border-radius: 10px;
}

.accessory-variant-button {
  padding: 1rem;
}

#accessory-menu>h3 {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
  color: black;
}

/* ////////////////////////////////////////////////////
///////////// HORIZONTAL NAVIGATION //////////////////
//////////////////////////////////////////////////// */

.horizontal-controls-container {
  position: fixed;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  /* z-index: 100; */
  background-color: rgba(218, 218, 218, 0.448);
  backdrop-filter: blur(5px);
  border: none;
  padding: 0.2rem;
  border-radius: 100px;
  display: flex;
  gap: 0.2rem;
  align-items: center;

  /* cursor: pointer; */
}

.horizontal-controls {
  cursor: pointer;
  width: 3.5rem;
  height: 2rem;
  /* border-radius: 100px; */
  background-color: rgba(255, 255, 255, 0.264);
  border: none;
}

.horizontal-controls:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.horizontal-controls:first-child {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}

.horizontal-controls:last-child {
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 1 UI //////////////////////
//////////////////////////////////////////////////// */

.ui-container {
  position: fixed;
  /* background-color: rgba(255, 192, 203, 0.444); */
  right: 0rem;
  left: 0rem;
  top: 0rem;
  bottom: 0rem;
  color: #242424;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.ui-panel {
  background-color: #ffffff5a;
  backdrop-filter: blur(7px);
  padding: 2rem;
  border-radius: 10px;
  max-width: 25rem;
  margin: 1rem;
  pointer-events: all;

  border-radius: 0.6875rem;
  background: linear-gradient(335deg, rgba(52, 146, 253, 0.35) 11.04%, rgba(255, 255, 255, 0.35) 58.32%);
  backdrop-filter: blur(7px);
  pointer-events: none;
  border: 2px solid rgba(255, 255, 255, 0.195);
}

.ui-tip {
  border-radius: 0.6875rem;
  background: radial-gradient(204.69% 244.14% at 30.87% -49.17%, rgba(0, 106, 255, 0.67) 0%, rgba(232, 6, 130, 0.67) 100%);
  backdrop-filter: blur(13.399999618530273px);
  color: white;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1rem;
  align-items: center;
  padding: 1rem;

  position: absolute;
  right: 2%;
  bottom: 3%;
}



.ui-panel h4 {
  font-weight: 800;
  font-size: 1.6rem;
  margin-bottom: 1rem;
}

.ui-panel p {
  font-size: 1rem;
  line-height: 1.2rem;
}

.ui-swaptext {
  /* height: max-content; */
  min-height: 8rem;
}

.ui-panel-footer {
  margin-top: 2rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

}

.ui-panel-progress {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.ui-panel-progress div {
  width: 12px;
  height: 12px;
  border: 2px solid #000;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 0.25s ease;
}

.ui-panel-progress div.active {
  background-color: #000;
}

.ui-footer-button {
  width: 3rem;
  height: 3rem;
  border-radius: 100px;
  border: none;
  pointer-events: auto;
}

/* ////////////////////////////////////////////////////
//////////////////// FLOOR 1 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-1 {
  position: absolute;
  right: 5%;
  bottom: 5%;
}

#ui-panel-2 {
  position: absolute;
  right: 5%;
  top: 10%;
}

#ui-panel-3 {
  position: absolute;
  left: 5%;
  bottom: 5%;
}

.physical-component {
  pointer-events: all;
  background-color: transparent;
  border: none;
  position: fixed;
  /* background-color: rgba(93, 11, 25, 0.477); */
  pointer-events: none;
  pointer-events: auto;
}

.physical-pedals {
  left: 26%;
  top: 50%;
  width: 8rem;
  height: 7rem;
}

.physical-chair {
  left: 35%;
  top: 52%;
  width: 10rem;
  height: 15rem;
}

.physical-steer {
  left: 53%;
  top: 48%;
  width: 7rem;
  height: 7rem;
}

.physical-camera {
  left: 65%;
  top: 50%;
  width: 7rem;
  height: 7rem;
}

.ui-hoverpanels {
  /* width: 100%;
height: 100%; */
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#ui-panel-4 {
  position: absolute;
  left: 5%;
  top: 55%;
}

#ui-panel-4-1 {
  position: absolute;
  right: 5%;
  top: 45%;
  border-radius: 10px;
  height: 20rem;
}

#ui-panel-4-2 {
  position: absolute;
  left: 5%;
  top: 10%;
  border-radius: 10px;
  height: 20rem;
}

#ui-panel-4-3 {
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 10px;
  height: 15rem;
}


/* FOR STEERING WHEEL */

#ui-panel-4-4 {
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 10px;
}

#ui-panel-4-5 {
  position: absolute;
  left: 10%;
  top: 15%;
  border-radius: 10px;
  height: 15rem;
}

#ui-panel-4-6 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  border-radius: 10px;
  height: 20rem;
}

#ui-panel-4-7 {
  position: absolute;
  right: 5%;
  top: 40%;
  border-radius: 10px;
  height: 15rem;
}


/* FOR CAMERAS */

#ui-panel-4-8 {
  position: absolute;
  right: 5%;
  top: 65%;
  border-radius: 10px;
}

#ui-panel-4-9 {
  position: absolute;
  left: 10%;
  top: 15%;
  border-radius: 10px;
  height: 20rem;
}

#ui-panel-4-10 {
  position: absolute;
  left: 10%;
  bottom: 10%;
  border-radius: 10px;
  height: 15rem;
}

#ui-panel-4-11 {
  position: absolute;
  right: 2%;
  top: 20%;
  border-radius: 10px;
  height: 15rem;
  rotate: -90deg;
}

/* FOR PEDALS */

#ui-panel-4-12 {
  position: absolute;
  left: 5%;
  top: 65%;
  border-radius: 10px;
  pointer-events: none;
}

#ui-panel-4-13 {
  position: absolute;
  left: 10%;
  top: 15%;
  border-radius: 10px;
  height: 15rem;
  pointer-events: none;
}

#ui-panel-4-14 {
  position: absolute;
  right: 15%;
  bottom: 15%;
  border-radius: 10px;
  height: 15rem;
  pointer-events: none;
}

#ui-panel-4-15 {
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 10px;
  height: 20rem;
  pointer-events: none;
}

#ui-panel-5 {
  position: absolute;
  right: 5%;
  top: 60%;
  pointer-events: none;
}

#ui-panel-6 {
  position: absolute;
  right: 5%;
  top: 20%;
  border-radius: 10px;
  height: 20rem;
}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 2 UI //////////////////////
//////////////////////////////////////////////////// */



#ui-panel-2-1 {
  position: absolute;
  right: 5%;
  top: 10%;
  border-radius: 10px;

}


/* ////////////////////////////////////////////////////
//////////////////// FLOOR 3 UI //////////////////////
//////////////////////////////////////////////////// */

#ui-panel-3-1 {
  position: absolute;
  right: 2%;
  top: 5%;
  border-radius: 10px;

}